<!--  This page was made to eventually point search results toward, except search button never worked.  Left in the file to show that it was created along with its own route.
<!DOCTYPE html>
<html>

<head>
    <%- include ('../components/head') %>
</head>

<body>
    <header>
        <%- include ('../components/header') %>
    </header>
    <main>
        <div id="content" class="jumbotron">
            <h1>&nbsp;No Result</h1>
            <ul>
                <p>&nbsp;User Data Not Found</p>
            </ul>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html> -->